/* App.css */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f1f5f9;
}

input, select, button {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

label {
  display: block;
  margin-bottom: 0.2rem;
  font-weight: 600;
}

button {
  background-color: #3b82f6;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background-color: #2563eb;
}